
body{
    background: #ccfff1;
    padding: 0;
    margin: 0;
    font-family: "Areal", sans-serif;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.text{
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}

.block img{
    max-width: 360px;
}
.element{
    background: rgb(25, 172, 250);
    border: 6px solid #0cb823;
    margin: 20px 0;
}
.content h1{
    color: brown;
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
}
.img + h2, .text h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.img{
    text-align: center;
    margin-bottom: 60px;
}
.img img{
    border: 6px solid #0c05bc;
}


